.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 2px solid #00287e;
  background-color: #6e0d35;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 1.00rem;
  font-weight: bolder;
}

.expense-date__year {
  font-size: 1.00rem;
}

.expense-date__day {
  font-size: 1.25rem;
  font-weight: bold;
}